{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Notify</title>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
  <div class="grid">
    <header>
      <div class="titulo">
        <h3>
          Notify<span>.</span>
        </h3>
        <p>A great new free psd theme to showcase your new application.</p>
        <div class="imagens-header">
          <a href="https://www.apple.com/br/ios/app-store/">
          <div>
            <img src="{% static 'img/icone-ios.png'%}" alt="">
          </div>
          </a>
          <a href="https://play.google.com/store/apps?hl=pt_BR">
          <div>
            <img src="{% static 'img/icone-android.png' %}" alt="">
          </div>
        </a>
          <a href="https://www.microsoft.com/pt-br/store/b/home">
          <div>
            <img src="{% static 'img/icone-windows.png' %}" alt="">
          </div>
        </a>
        </div>
      </div>
      <div class="mao">
          <img src="{% static 'img/hand.png' %}" alt="">
      </div>
    </header>
    <main>

    </main>
    <section class="contato">

    </section>
    <section class="feedback">

    </section>
    <footer>

    </footer>
  </div>
</body>
</html>